<table>
  <tr>
    <th>Links</th>
  </tr>
  <tr>
    <td><a href ="https://gitlab.com/john1soul" target = "_blank"> gitlab.com/john1soul</td>
    <td><a href ="https://gitlab.com/harkerharoldsen" target = "_blank"> gitlab.com/harkerharoldsen</td>	 
    <td><a href ="https://gitlab.com/joeytoaster" target = "_blank"> gitlab.com/joeytoaster</td>	 
 <tr>
  </tr>
</table> 
<div class="block bs00-bg bs07">#000000</div>
<div class="block bs01-bg bs07">#9f0f8c</div>
<div class="block bs02-bg bs07">#2d2929</div>
        
