 <table>
  <tr>
    <th>Links</th>
  </tr>
  <tr>
    <td><a href ="https://outervision.com/power-supply-calculator" target = "_blank"> PSU Calculator
    <td><a href ="https://gitlab.com/john1soul" target = "_blank"> gitlab.com/john1soul</td>
    <td><a href ="https://gitlab.com/harkerharoldsen" target = "_blank"> gitlab.com/harkerharoldsen</td>	 
 <tr>
  </tr>
</table> 
        
