body {
 padding: 0px;
 margin: 0px;
 font-size: 20px;
 min-height: 200vh;
 font-family: system-ui, sans-serif;
 background-color: #ffffff;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #ffffff;
  margin: 0px;  
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
	font-family: system-ui, sans-serif;
    background: linear-gradient(
      to bottom, 
      #79241f, #79241f 20%, 
      #c1c1c1 20%, #c1c1c1 40%, 
      #79241f 40%, #79241f 60%, 
      #c1c1c1 60%, #c1c1c1 80%, 
      #79241f 80%, #79241f 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #000000;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
    outline: 5px solid #000000;
}

#hamburger-menu h3 {
  color: #ffff00;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #ffff00;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}

#content{
	 position: absolute;
	 color: #444444;
	 width: 100%;
	overflow: hidden;
	padding-top: 100%; /* 1:1 Aspect Ratio */
	top:50px;
	left:220px; 
}

#logo{
	position: absolute;
	top:0px;
	left:220px; 
}


.responsive-image {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}


@media screen and (max-width: 1980px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}

