 <img src="https://images.unsplash.com/photo-1533749047139-189de3cf06d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="Picture of clocks" style="width:500px;height:500px;"> 
<img src="https://media.wired.com/photos/5a593a7ff11e325008172bc2/master/pass/pulsar-831502910.jpg" style="width:500px;height:500px;">
 <table>
  <tr>
    <th>Links</th>
  </tr>
  <tr>
    <td><a href ="https://outervision.com/power-supply-calculator" target = "_blank"> PSU Calculator
    <td><a href ="https://gitlab.com/john1soul" target = "_blank"> gitlab.com/john1soul</td>
    <td><a href ="https://gitlab.com/harkerharoldsen" target = "_blank"> gitlab.com/harkerharoldsen</td>	 
 <tr>
  </tr>
</table> 
<div class="block bs00-bg bs07">#000000</div>
<div class="block bs01-bg bs07">#9f0f8c</div>
<div class="block bs02-bg bs07">#2d2929</div>
        
